* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --violet:  hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-image: url(../images/bg-desktop.svg);
    background-color: var(--violet);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -120px -60px;

    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/*Typograhpies and Buttons*/

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--white);
    max-width: 80%;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color: var(--white);
    max-width: 80%;

    padding: 20px 0px;
}

button {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--violet);

    padding: 15px 60px;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 5px 10px 0px hsl(0, 0%, 0%,0.4);
}

button:hover {
    background-color: var(--soft-magenta);
    color: var(--white);
    transition: 0.2s;
    cursor: pointer;
}

/*Images*/
img {
    max-width: 100%;
}

/*Icons*/
ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;

    padding-right: 10%;

    position: absolute;
    top: 100;
    left: 100;
    bottom: 0;
    right:  0;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);

    margin-left: 10px;
    
    border: 2px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

li:hover {
    border-color: var(--soft-magenta);
    color: var(--soft-magenta);
    transition: 0.3s;
}


/*Layout*/
.container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 50px;
    position: relative;
}

.left-content {  
    flex: 1 1 100%;
}

img:nth-child(1){
    width: 30%;
}

img:nth-child(2){
    padding-top: 50px;
}

.right-content {
    flex: 2 1 100%;
    padding-left: 30px;
}

/*Media Query*/
@media (max-width:850px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-color: var(--violet);
        background-position: -10px -50px;
        background-size: contain;
    }
    
    .container {
        flex-direction: column;
        padding-top: 0px;
    }

    .right-content {
        text-align: center;
        padding-left: 0px;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    h1, p {
        max-width: 100%;
    }

    ul {
        width: 100%;
        justify-content: center;
        padding: 0;
    }

    
}